<section ng-controller="footerController as vm">
    <div class="footer">
    <div class="footer-top">
        <div class="wrap">
            <div class="section group example">
            <div class="col_1_of_2 span_1_of_2">
            </div>
            <div class="col_1_of_2 span_1_of_2">
            </div>
            <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                    <p>{{info.displayInfo}}</p>
            </div>
            <div class="f-list2">
            </div>
            <div class="clear"></div>
            </div>
    </div>
</div>
</section>